body{
    background-color: #e6f7fe;
}
.w-250{
    width: 250px;
}

.nav-link.active{
    text-shadow: 0 0 black;
}
.pretaziborder{
    border: 1px solid #ced4da !important;
}

.btn-zuto.active{
    background:#ffe2a4;
    border: 1px solid #ffe2a4;
}
.btn-zuto{
    background:#ffffff;
    border: 1px solid #ffffff;
}
.btn-zuto:hover{
    background:#ffce64;
    border: 1px solid #ffe2a4;
}
#ZutoVrednost{
    display: none !important;
}
.card-foot{
    min-height: 200px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
}
.malekartice{
    min-height: 200px !important;
}
.velikekartice{
    min-height: 250px !important;
}
.velikekartice .card-title{
    font-size: 2.25rem;
}

.navbar {
     border-style:none !important;
}
.mobileresponsive{
    margin: auto;
    padding-left: 26px;
    padding-right: 28px;
}
@media only screen and (max-width: 990px) {
    .zutoresponsive{
        width: 50px;
        margin: 0 43vw;
    }
  }
